<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Landing Page</title>
    <link rel="stylesheet" href="/style3.css" />
  </head>
  <body>
    <header>
      <div class="header-content">
        <img src="intex_logo.webp" alt="Logo" class="logo" />
        <h1>Welcome to Our Social Media Impact Survey</h1>
      </div>
    </header>
    <div class="navbar">
      <a href="/login">Login</a>
      <a href="/create_account">Create Account</a>
      <a href="/fill_survey">Fill Out Survey</a>
    </div>
    <div class="container">
      In a world deeply interconnected by social media, we recognize the
      profound influence it can have on our lives, particularly on our mental
      well-being. Welcome to a space where we explore and gather insights into
      the effects of social media on mental health. <br /><br />
      <h2>About Us</h2>

      Our platform is dedicated to understanding the nuanced relationship
      between social media usage and mental health. We believe that by fostering
      awareness and collecting valuable data, we can contribute to a deeper
      understanding of these complex dynamics.
      <br /><br />
      <h2>Join the Conversation</h2>
      By participating in our survey, you become part of a community dedicated
      to fostering awareness, understanding, and positive change. Together,
      let's navigate the digital landscape and empower each other to cultivate a
      healthier relationship with social media.<br /><br />
      Thank you for being part of our mission!
    </div>
    <div class="tableau-container">
      <!-- Include your Tableau embed code or iframe here -->
      <!-- Example: -->
      <iframe
        src="https://your-tableau-dashboard-link"
        width="800"
        height="600"
      ></iframe>
    </div>
  </body>
</html>
